

/* ==================================================== */
/* GENERAL STYLES */
/* ==================================================== */

* {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7vh;
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #232323;
  color: white;
}



/* ==================================================== */
/* TYPOGRAPHY STYLES */
/* ==================================================== */

h1 {
  line-height: 1;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: lime;
}

#rg {
  color: aqua;
}

#mk {
  color: gold;
}



/* ==================================================== */
/* HEADER STYLES */
/* ==================================================== */

header {
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

#info {
  text-align: right;
  position: fixed;
  top: 4rem;
  right: 2rem;
  font-size: 1.5rem;
  padding: inherit;
}

#info span {
  font-weight: bold;
}



/* ==================================================== */
/* MAIN & SECTION STYLES */
/* ==================================================== */

main {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 100%;
  transition: all .2s ease;
}

main, .container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.unclickable {
  pointer-events: none;
}

.container{
  height: 100%;
}

#middle, #bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#middle {
  flex: 1;
}

#bottom {
  background: #171717;
  text-align: center;
  z-index: 1;
}

#bottom p {
  opacity: 0.75;
}



/* ==================================================== */
/* RESULT STYLES */
/* ==================================================== */

#result {
  font-size: 1.2rem;
  text-align: center;
}

#result p{
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 2em;
}



/* ==================================================== */
/* BUTTON STYLES */
/* ==================================================== */

button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1em 3em;
  outline: none;
  border: none;
  border-radius: .5em;
  border-bottom: .3em solid rgb(196, 181, 181);
  font-family: inherit;
  background: white;
  transition: all .1s ease;
}

button:hover {
  transform: translateY(.1em);
  border-bottom-width: .2em;
}

button:active {
  transform: translateY(.2em);
  border-bottom-width: 0;
}

.btn-small {
  font-size: .8em;
}

.credits {
  padding: 2em 4em 4em;
}



/* ==================================================== */
/* CARD STYLES */
/* ==================================================== */

.card {
  cursor: pointer;        
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 17em;
  width: 12em;
  background: white;
  color: black;
  padding: 1.2em;
  border-radius: .5em;
  box-shadow: -1em 1em 0 0 rgba(0, 0, 0, .5);
  line-height: 1.3;
  font-weight: bold;
}

.card span {
  width: 100%;
  white-space: normal;
}

.card input[type=radio] {
  outline: none;
}

.card input[type=submit]{
  text-align: center;
  cursor: pointer;
  font-size: .8em;
  font-weight: bold;
  padding: .8em 1em;
  outline: none;
  border: none;
  font-family: inherit;
  background:black;
  color: white;
  transition: background .1s ease;
}

.card input[type=submit]:hover {
  background: #3f3f3f;
}

.card input[type=submit]:active {
  transform: scale(.95)
}

.card-question{
  background: black;
  color: white;
}

.cards .card {
  text-align: left;
  margin-right: 2em;
  flex-direction: column-reverse;
}

.cards .card:last-of-type {
  margin-right: 0;
}

.cards {
  white-space: nowrap;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-size: .8rem;
  padding: 3em 4em;
}

.cards:hover .card,
.cards:focus-within .card {
  opacity: .5;
}

.card:hover,
.card:focus-within {
  opacity: 1 !important;
}

.cards.answered .card:not(.card-correct) {
  opacity: .5 !important;
  box-shadow: -1em 1em 0 0 rgba(228, 23, 23, 0.836);
}

.cards.answered .card-correct {
  opacity: 1 !important;
  box-shadow: -1em 1em 0 0 rgba(11, 201, 11, 0.5);
}



/* ==================================================== */
/* CARD SPECIFIC/OVERRIDE STYLES */
/* ==================================================== */

#question {
  pointer-events: none;
  transform: rotate(-8deg) translateX(1em);
}

#answer {
  cursor: default;
  transform: rotate(6deg) translate(-1em, 2em);
}



/* ==================================================== */
/* RESPONSIVE STYLES + FIXES */
/* ==================================================== */

@media screen and (max-width: 900px){
  input[type=submit] {
    display: none !important;
  }
}

@media screen and (min-width: 640px){
  #result p {
    max-width: 100%;
  }
}